<section>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h4 class="headings"> Car Details</h4>
                <div class="row">
                    <div>
                        <div class="col-md-4">
                            <input type="text" [(ngModel)]="filterCarRequest.query" class="form-control form-control-sm input-sm"
                                id="" placeholder="Search Criteria">
                        </div>
                        <div class="col-md-2">
                            <select [(ngModel)]="filterCarRequest.filter" class="form-control form-control-sm input-sm">
                                <option value="model">Model</option>
                                <option value="make">Make</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select [(ngModel)]="filterCarRequest.sortDirection" class="form-control form-control-sm input-sm">
                                <option value="ASC">ASC</option>
                                <option value="DESC">DESC</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="show_button" (click)="filterCars()">Filter</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Number Plate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let car of carData.cars">
                                <td>{{car.id}}</td>
                                <td>{{car.make}}</td>
                                <td>{{car.model}}</td>
                                <td>{{car.numberplate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="align-content: justify-content">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li *ngFor="let page of pageArray" class="page-item" [ngClass]="{'active' : pageNo == page}" ><a class="page-link" href="javascript:void(0)"
                            (click)="setPageNo(page)">{{page}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>