<header>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-md-12" style="text-align: left; vertical-align: middle">
                <div style="float: left">
                    <h3>Cars Information</h3>
                </div>
                <div style="float: right">
                    <button [ngClass]="{'links_active': userActive, 'links': !userActive }" (click)="hightlightLink('user')"
                        routerLink="/users"> Users </button>
                    <button [ngClass]="{'links_active': carActive , 'links': !carActive}" (click)="hightlightLink('car')"
                        style="margin-left:10px" routerLink="/cars"> Cars </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</header>