<section>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h4 class="headings"> User Details</h4>
                <div class="row">
                    <div>
                        <div class="col-md-4">
                            <input type="text" [(ngModel)]="filterRequest.query" class="form-control form-control-sm input-sm"
                                id="" placeholder="Name">
                        </div>
                        <div class="col-md-2">
                            <select [(ngModel)]="filterRequest.sortDirection" class="form-control form-control-sm input-sm"
                                id="exampleFormControlSelect1">
                                <option value="ASC">ASC</option>
                                <option value="DESC">DESC</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="show_button" (click)="filterUsers()">Filter</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userData.users">
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td><button class="show_button" (click)="showCars(user)">Show Cars</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6" [ngClass]=" carsShowed ? 'visible' : 'hidden'">
                <h4 class="headings"> Cars Information for <u><strong><i>{{user.name}}</i></strong></u></h4>
                <div class="row" style="height: 30px">&nbsp;</div>
                <div class="row">
                    <table class="table table-striped table-sm">
                        <thead style="text-align: center">
                            <tr>
                                <th>Id</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Number Plate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let car of cars">
                                <td>{{car.id}}</td>
                                <td>{{car.make}}</td>
                                <td>{{car.model}}</td>
                                <td>{{car.numberplate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="align-content: justify-content">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" *ngFor="let page of pageArray" [ngClass]="{'active' : pageNo == page}">
                        <a class="page-link" (click)="setPageNo(page)">{{page}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>